name: Build

on:
  push:
    branches: [main]
    paths:
      - "vcpkg-triplets/*"
      - "Dockerfile.*"
      - "install_vcpkg.sh"
      - "*.env"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Environment Variables
        uses: ./.github/actions/setenv
        with:
          varFilePath: ./*.env

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build, Test and push Alpine
        id: alpine_build
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile.alpine
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BASE_IMAGE=alpine:${{ env.ALPINE_VERSION }}
            VCPKG_VERSION=${{ env.VCPKG_VERSION }}
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:latest-alpine
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:latest-alpine${{ env.ALPINE_VERSION }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:${{ env.VCPKG_VERSION }}-alpine
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:${{ env.VCPKG_VERSION }}-alpine${{ env.ALPINE_VERSION }}

      - name: Build, Test and push Ubuntu
        id: ubuntu_build
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile.debian
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BASE_IMAGE=ubuntu:${{ env.UBUNTU_VERSION }}
            VCPKG_VERSION=${{ env.VCPKG_VERSION }}
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:latest-ubuntu
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:latest-alpine${{ env.UBUNTU_VERSION }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:${{ env.VCPKG_VERSION }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:${{ env.VCPKG_VERSION }}-ubuntu
            ${{ secrets.DOCKER_HUB_USERNAME }}/vcpkg:${{ env.VCPKG_VERSION }}-ubuntu${{ env.UBUNTU_VERSION }}

      - name: Alpine Image digest
        run: echo ${{ steps.alpine_build.outputs.digest }}
      - name: Ubuntu Image digest
        run: echo ${{ steps.ubuntu_build.outputs.digest }}
